.brands-list {
   text-align: center;
}

.brands-list li {
   display: inline;
   margin: 15px;
}

.brands-list a {
   color: black;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
}

