
$height: 36px;

header {
  .banner {
    height: 30px;
    background: #000;

    .text-banner {
      margin: 0;
      color: #FFF;
      text-align: center;
      padding: 5px 0;
    }
  }

  .header-container {
    background: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: $height;
  }

  .login_link {
    margin-right: 10px;
  }

  .user_navigation {
    display: flex;
    align-items: center;
    height: $height;
    justify-content: flex-end;
  }
}

