.boxS {
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  background-color: #EFF2F6;
  padding-right: 120px;
  padding-left: 120px;

}

.relative {
  width: 200px;
  padding-right: 0;
}

.navbar-brand {
  padding-top: 0.2rem !important;
}
.navbar-brand a{
  color: black;
  text-decoration: none;
}
.avbar-brand a:hover {
  color: gray
}

.wrapper-shopping-cart {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.wrapper-shopping-cart a {
  color: black;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

.wrapper-shopping-cart a:hover {
  color: gray
}