.boxS {
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  background-color: #EFF2F6;
  padding-right: 120px;
  padding-left: 120px;

}

.relative {
  width: 200px;
  padding-right: 0;
}

.navbar-brand {
  padding-top: 0.2rem !important;
}
.navbar-brand a{
  color: black;
  text-decoration: none;
}
.navbar-brand a:hover {
  color: gray
}


.form-cart-login a {
  color: black;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

.form-cart-logina:hover {
  color: gray
}

.nav-link:focus, .nav-link:hover {
color:darkslategray;
font-weight: 700;
}