.hr {
    display: inline-block;
    margin: 3px;
}

ul {
    text-align: center;
    padding-top: 20px;
}

#start {
    width: 55px;
    height: 55px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}


